@model SistemaDeSupermercado.Models.DTO.CategoriaDto

@{
    Layout = "~/Views/Shared/_PainelAdministrador.cshtml";

    ViewData["Title"] = "Editar categoria";
}
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Atualizar" asp-controller="Categoria">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @await Html.PartialAsync("_FormCategoria")
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


