@model SistemaDeSupermercado.Models.DTO.CategoriaDto

@{
    Layout = "~/Views/Shared/_PainelAdministrador.cshtml";

    ViewData["Title"] = "Nova categoria";
}
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Salvar" asp-controller="Categoria">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           @await Html.PartialAsync("_FormCategoria")
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


